body {
    font-family: "Funnel Display", sans-serif;
    margin: 0;
    background-color: rgb(57, 56, 56);
}

h1, h2 {
    transform: translateY(200px);
    animation: slideUp 1s forwards ease-out;
}

.top-section {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.364),  rgba(245, 246, 252, 0.364), rgb(57, 56, 56)),url("images/seattle-wallpaper.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    padding-top: 320px;
    padding-bottom: 330px;
    text-align: center;
}

h1 {
    font-size: 3.3rem;
    margin-bottom: -5px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.888);
    animation-delay: 0s;
}

h2 {
    color: rgb(48, 47, 47);
    font-weight: 400;
    animation-delay: 0.04s;
}

.mid-heading {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color: rgb(221, 221, 221);
    font-size: 2rem;
}

.activities {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-right: 30px;
}

.image-holder {
    display: flex;
    justify-content: space-around;
}

#ferry {
    background-image: url("images/ferry.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#ferry:hover {
    background-image: url("images/ferry-color.jpg");
}

#seattle-center {
    background-image: url("images/seattle-center.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#seattle-center:hover {
    background-image: url("images/seattle-center-color.jpg");
}

#narrows {
    background-image: url("images/narrows.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#narrows:hover {
    background-image: url("images/narrows-color.jpg");
}

.caption {
    /* margin-top: 0; */
    color: white;
    font-size: 1.1rem;
}

.guide {
    display: flex;
    justify-content: center;
    margin: 200px 0 100px 0;
    color: white;
    width: auto;
}

.guide-content {
    width: 300px;
    margin-left: 20px;
    padding-top: 40px;
    text-align: center;
    align-items: center;
}

#profile-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

@keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  